html {
  font: 5vmin/1.3 Serif;
  background: #123;
}

body, head {
  display: block;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.2077735456em 1.5628261512em 7px rgba(0, 129, 255, 0.9), -0.2691092918em 2.4343418435em 7px rgba(8, 255, 0, 0.9), 0.9898930211em 1.2899316686em 7px rgba(255, 36, 0, 0.9), 2.0718662521em 2.1964870329em 7px rgba(0, 141, 255, 0.9), 1.8574874645em 2.3196582822em 7px rgba(145, 0, 255, 0.9), 1.0697523538em 1.6569252002em 7px rgba(0, 255, 244, 0.9), 2.0086046681em 1.3448402435em 7px rgba(255, 0, 120, 0.9), 1.3514423083em 0.0167859858em 7px rgba(0, 192, 255, 0.9), 0.2329245545em 2.4593814433em 7px rgba(255, 43, 0, 0.9), 1.6933389612em 0.5529039732em 7px rgba(0, 158, 255, 0.9), 0.6260527362em 0.1123865011em 7px rgba(58, 255, 0, 0.9), 2.122377381em 1.8412631728em 7px rgba(0, 255, 179, 0.9), 0.0769494255em 0.4959010201em 7px rgba(44, 0, 255, 0.9), 2.0830467549em 1.6153559141em 7px rgba(255, 110, 0, 0.9), 0.3385242989em -0.4360946484em 7px rgba(39, 255, 0, 0.9), 2.0223438544em 0.9584536184em 7px rgba(0, 255, 164, 0.9), 1.7977264347em 0.2354397318em 7px rgba(232, 0, 255, 0.9), 1.0670450023em 2.4177515528em 7px rgba(0, 255, 91, 0.9), 1.9438594463em 1.6464055821em 7px rgba(146, 255, 0, 0.9), 0.9674630038em -0.3348058539em 7px rgba(0, 255, 143, 0.9), 0.5135743169em 2.4889152407em 7px rgba(25, 0, 255, 0.9), 1.20490566em 1.2725688195em 7px rgba(255, 0, 8, 0.9), 1.2684941281em 2.3523914596em 7px rgba(78, 255, 0, 0.9), 0.4174477902em 0.9584577596em 7px rgba(0, 214, 255, 0.9), -0.3192248487em -0.2793501829em 7px rgba(175, 255, 0, 0.9), 2.0233313849em -0.2746333058em 7px rgba(200, 255, 0, 0.9), -0.2771448894em 1.8286062122em 7px rgba(255, 206, 0, 0.9), 0.8091821236em 0.2966203896em 7px rgba(0, 253, 255, 0.9), 2.3548263984em 2.2625606997em 7px rgba(0, 248, 255, 0.9), -0.1327800296em -0.2868382162em 7px rgba(0, 255, 212, 0.9), -0.2531057004em -0.2404649912em 7px rgba(255, 74, 0, 0.9), 1.935226143em 0.7885677867em 7px rgba(228, 0, 255, 0.9), 1.0590033124em 0.9768676179em 7px rgba(255, 0, 196, 0.9), 1.20272822em 0.4353170418em 7px rgba(0, 255, 177, 0.9), 1.3566739456em 0.0127456589em 7px rgba(255, 239, 0, 0.9), 1.1835770061em 1.0382601625em 7px rgba(255, 254, 0, 0.9), -0.2991984896em 2.3613004006em 7px rgba(90, 0, 255, 0.9), 1.3333495212em 0.8943976134em 7px rgba(255, 0, 48, 0.9), -0.0569743em -0.2274361474em 7px rgba(0, 255, 50, 0.9), 0.1343429641em -0.3556959371em 7px rgba(255, 117, 0, 0.9), 2.3522724836em 0.1774308139em 7px rgba(255, 94, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.0504090021em 0.1925206691em 7px rgba(0, 83, 255, 0.9), 2.0363968011em 2.3871461269em 7px rgba(0, 195, 255, 0.9), 0.6292550955em 1.4418600722em 7px rgba(0, 216, 255, 0.9), 2.446775977em 1.0192418048em 7px rgba(0, 146, 255, 0.9), 2.0324211581em 1.7656077902em 7px rgba(49, 0, 255, 0.9), 0.2555329331em 1.078437306em 7px rgba(226, 255, 0, 0.9), 0.8380699834em -0.1090306683em 7px rgba(0, 73, 255, 0.9), 0.4304979822em 1.6073280763em 7px rgba(239, 255, 0, 0.9), 0.7825414965em 2.0181406459em 7px rgba(0, 255, 214, 0.9), 1.3756165728em 1.8171314401em 7px rgba(0, 172, 255, 0.9), 0.9363526817em 1.2174911729em 7px rgba(255, 182, 0, 0.9), -0.226961276em 0.0283551722em 7px rgba(0, 224, 255, 0.9), -0.262951469em -0.2525417152em 7px rgba(4, 0, 255, 0.9), 1.0641299119em 0.2484236012em 7px rgba(0, 13, 255, 0.9), 1.6625457479em 0.3529425908em 7px rgba(0, 99, 255, 0.9), 0.9464036212em 0.4707009919em 7px rgba(73, 255, 0, 0.9), 2.2290997326em 0.5957478235em 7px rgba(48, 0, 255, 0.9), 0.8189793672em 1.9681151146em 7px rgba(0, 229, 255, 0.9), 0.055653742em -0.3884992711em 7px rgba(255, 0, 230, 0.9), 0.8537129064em 0.2592653932em 7px rgba(75, 0, 255, 0.9), 1.6656253252em -0.1219085981em 7px rgba(33, 255, 0, 0.9), 1.2086812235em 1.9961209452em 7px rgba(0, 255, 51, 0.9), 2.4545031033em -0.390000227em 7px rgba(0, 16, 255, 0.9), 0.4583146358em -0.2006794656em 7px rgba(255, 152, 0, 0.9), -0.4135591878em 1.3355924524em 7px rgba(0, 0, 255, 0.9), 2.2031856113em 0.50852815em 7px rgba(208, 255, 0, 0.9), -0.4864289532em 0.0298611353em 7px rgba(255, 0, 242, 0.9), 1.3374125948em 1.9956372823em 7px rgba(0, 255, 226, 0.9), 1.2874466955em 1.2450149536em 7px rgba(255, 99, 0, 0.9), 2.3526041979em 1.7544510862em 7px rgba(255, 211, 0, 0.9), 1.4815785729em 1.2963161734em 7px rgba(0, 232, 255, 0.9), 1.4619034797em 1.9817331909em 7px rgba(255, 34, 0, 0.9), 1.8981781381em 1.8376499615em 7px rgba(163, 0, 255, 0.9), 0.47713923em -0.2462850202em 7px rgba(255, 75, 0, 0.9), 1.59799838em 0.3667408095em 7px rgba(55, 255, 0, 0.9), 1.9251603342em 2.1112318133em 7px rgba(0, 255, 149, 0.9), 0.5552582446em 0.8176896334em 7px rgba(242, 255, 0, 0.9), 0.0853983499em 0.9447466373em 7px rgba(255, 0, 49, 0.9), 2.2718467868em 1.8408098917em 7px rgba(244, 0, 255, 0.9), 1.6851308402em 0.7100002965em 7px rgba(219, 255, 0, 0.9), 0.1430136131em 2.1652677875em 7px rgba(222, 255, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.3254964773em 0.385260872em 7px rgba(82, 0, 255, 0.9), -0.1351613073em 0.8585963835em 7px rgba(255, 0, 214, 0.9), 1.5693114241em -0.324878436em 7px rgba(208, 255, 0, 0.9), 0.9724026637em 1.2951366328em 7px rgba(255, 84, 0, 0.9), 0.4919627061em 0.4690306299em 7px rgba(255, 132, 0, 0.9), 0.2564169228em 1.6728249563em 7px rgba(255, 161, 0, 0.9), -0.4194247795em 0.6333712151em 7px rgba(159, 255, 0, 0.9), 0.6692236276em 0.7364708864em 7px rgba(19, 255, 0, 0.9), 0.7700092828em -0.3749961115em 7px rgba(255, 46, 0, 0.9), 1.7608782545em 2.0710894262em 7px rgba(0, 255, 110, 0.9), 0.5853715692em 2.2459239309em 7px rgba(255, 3, 0, 0.9), -0.2272973094em 2.1868660261em 7px rgba(0, 255, 163, 0.9), 1.769611715em 1.4642457087em 7px rgba(125, 255, 0, 0.9), 0.5893168678em 0.9618505391em 7px rgba(255, 42, 0, 0.9), 2.3678649279em 1.0162654334em 7px rgba(255, 96, 0, 0.9), 1.3048294942em 2.2430770548em 7px rgba(115, 0, 255, 0.9), 0.8102291416em 1.5224794728em 7px rgba(0, 229, 255, 0.9), 1.5863908307em 1.6465005299em 7px rgba(187, 255, 0, 0.9), 1.4455621789em 1.7424623435em 7px rgba(170, 0, 255, 0.9), 0.5377681715em -0.2703884074em 7px rgba(109, 255, 0, 0.9), 1.3888509073em 0.0093918275em 7px rgba(0, 255, 233, 0.9), -0.3300408064em -0.3713796843em 7px rgba(17, 255, 0, 0.9), 0.2059189295em -0.2567080931em 7px rgba(218, 0, 255, 0.9), 1.9961019962em 0.29228819em 7px rgba(0, 228, 255, 0.9), 0.3344418409em 0.0027625244em 7px rgba(255, 0, 33, 0.9), 1.8212888555em 1.0023405804em 7px rgba(255, 0, 203, 0.9), 1.8318351291em 2.3726933945em 7px rgba(255, 243, 0, 0.9), 0.5721746185em 1.6096249035em 7px rgba(255, 0, 207, 0.9), 2.2674821909em 0.7313021465em 7px rgba(0, 54, 255, 0.9), 0.144853472em 1.1962136117em 7px rgba(66, 0, 255, 0.9), 0.6578364184em 0.8545458237em 7px rgba(0, 255, 169, 0.9), 1.9257225275em 1.7303429856em 7px rgba(58, 255, 0, 0.9), 1.0665632864em 1.5736810548em 7px rgba(0, 255, 110, 0.9), 2.2628599058em 0.0094819018em 7px rgba(95, 0, 255, 0.9), 1.6098653596em 2.4091682298em 7px rgba(111, 0, 255, 0.9), -0.1035049937em 1.4205987142em 7px rgba(255, 0, 75, 0.9), 0.3073921488em 2.1080049552em 7px rgba(255, 134, 0, 0.9), 1.268120897em -0.4950348722em 7px rgba(255, 109, 0, 0.9), 1.3925966152em 1.9349170278em 7px rgba(0, 255, 251, 0.9), -0.0081273559em 0.4203542808em 7px rgba(247, 0, 255, 0.9), -0.2128693378em 0.2852462052em 7px rgba(0, 36, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.1193007535em 0.8441646441em 7px rgba(255, 0, 190, 0.9), 0.7656965241em 1.0754630708em 7px rgba(55, 0, 255, 0.9), 2.2389895415em 1.7735947114em 7px rgba(0, 111, 255, 0.9), -0.0084625056em -0.3167537174em 7px rgba(104, 0, 255, 0.9), 1.3094933617em -0.4659144368em 7px rgba(255, 0, 223, 0.9), 0.6026423662em 1.3798265972em 7px rgba(71, 0, 255, 0.9), 1.4999768986em 0.5741715238em 7px rgba(2, 0, 255, 0.9), 0.5146913466em 2.473275889em 7px rgba(0, 8, 255, 0.9), 1.091295895em -0.183846162em 7px rgba(0, 35, 255, 0.9), 1.0026229296em 1.5343648921em 7px rgba(76, 255, 0, 0.9), 0.472283501em 2.4239482488em 7px rgba(255, 0, 139, 0.9), 0.1127971928em 0.4006774058em 7px rgba(39, 255, 0, 0.9), 2.2395542579em 0.8050319371em 7px rgba(0, 196, 255, 0.9), 0.5226289135em 0.1404202842em 7px rgba(255, 0, 49, 0.9), 1.5850514553em 1.4968784772em 7px rgba(255, 0, 17, 0.9), 1.8341418138em 1.5995236167em 7px rgba(0, 255, 62, 0.9), 1.1122001635em 1.4687630511em 7px rgba(172, 255, 0, 0.9), -0.0041966213em 0.5425565088em 7px rgba(255, 109, 0, 0.9), 0.2324059448em 1.8139717261em 7px rgba(255, 0, 166, 0.9), -0.2382181113em 0.4153970729em 7px rgba(239, 255, 0, 0.9), -0.1052527685em 1.1821275402em 7px rgba(0, 255, 1, 0.9), 2.1465768457em 2.1061663918em 7px rgba(0, 255, 120, 0.9), 2.3804329377em -0.3313328359em 7px rgba(40, 255, 0, 0.9), 1.2066941802em 0.9623355769em 7px rgba(0, 14, 255, 0.9), 1.9910519124em 0.1014540114em 7px rgba(0, 189, 255, 0.9), 0.4450537836em -0.2607266384em 7px rgba(0, 46, 255, 0.9), -0.3610716797em 1.9173106209em 7px rgba(111, 255, 0, 0.9), 0.2464858414em 1.0733061963em 7px rgba(128, 255, 0, 0.9), 1.1519010811em -0.0735678942em 7px rgba(0, 34, 255, 0.9), 1.9451530096em 2.2866891368em 7px rgba(0, 30, 255, 0.9), 2.0248819427em 0.7893994256em 7px rgba(223, 255, 0, 0.9), 0.9215872837em 1.231258579em 7px rgba(0, 30, 255, 0.9), -0.1523649085em 1.1932889785em 7px rgba(255, 0, 197, 0.9), 1.2246653536em 1.6371455116em 7px rgba(0, 255, 10, 0.9), -0.3064772112em -0.2555093802em 7px rgba(255, 0, 9, 0.9), 0.9358932601em 1.1621670851em 7px rgba(201, 0, 255, 0.9), 1.6849642936em 2.0413632453em 7px rgba(0, 255, 154, 0.9), 1.9456955447em 1.6635409693em 7px rgba(145, 0, 255, 0.9), 1.3326121207em 0.2343363913em 7px rgba(230, 255, 0, 0.9), 1.3207913198em 2.0113553012em 7px rgba(0, 255, 237, 0.9), 1.8000330091em 1.7495000464em 7px rgba(249, 0, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(7) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(11) translateX(20px);
  }
}

/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #33333367;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.6s ease;
    padding: 5px;
    text-shadow: 0px 2px  black;
}

nav ul li a:hover {
    color: #666;
}

section {
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color: #ffffff15;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
}

.clicktodl {
  font-size: 15px;
}
section h2 {
    color: #ffffff;
    margin-bottom: 00px;
}

section p {
    color: #ffffff;
    margin-bottom: 10px;
}

#download {
    text-align: center;
}

.download-button {
    display: inline-block;
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #397a3c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
                                                                                                                                                                                                                                                                                            }
      
